<h1>Create a tweet... or else you'll get kicked by Antonio</h1>

<form action="/tweets" method="POST">
  <label for="content">Tweet: </label> <br>
  <input type="text" name="tweet[content]" id="content"> <br>
  <input type="submit" value="Create" id="submit">
</form>
