<h2>This is the show tweet by Id page please help!</h2>

<h4>Tweet Content:</h4>
<p><%=@tweet.content %></p>

<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Tweet" id="submit">
</form>

<form action="/tweets/<%=@tweet.id%>/edit" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="submit" value="Edit Tweet" id="submit">
</form>
