<h1>Tweet</h1>
<br>
<p><%=tweet.content%></p>

<form action="/tweets/<%=@tweet.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
