<body id="page-top">
  <h3>Sign Up Please</h3>
  <form class="" action="/signup" method="post">
    <label for="">Username: </label>
    <input type="text" name="username" value=""><br>
    <label for="">E-mail: </label>
    <input type="text" name="email" value=""><br>
    <label for="">Password: </label>
    <input type="password" name="password" value=""><br>
    <br>
    <input id="submit" type="submit" name="" value="SIGN UP"> or <a href="/login">Log In</a>
  </form>
</body>
