<h1>Please Login</h1>
<form action="/login" method="POST">

  <p><label for="username">Username: </label><p>
  <p><input type="text" name="username" id="username"><p>   #user[:username] NOT GOOD
  <p><label for="password">Password: </label><p>
  <p><input type="password" name="password" id="password"><p> #user[:password] NOT GOOD

<input type="submit" value="Login" id="submit">

</form>