<h3>Please Sign In:</h3>

<form method="POST" action="/login">

  <input type="text" name="username" placeholder="Username" required /><br />
  <input type="password" name="password" placeholder="Password" required /><br /><br />
  <input type="submit" value="Sign In" />
  <h5><a class="button" href="/users/create_user">No account? Please sign up here.</a></h5>

</form>
