<h1> Login Page!</h1>

<form action="/login" method="POST">

  <label>Username:</label>
  <input type="text" id="username" name="user[:username]"></input>

  <label>Password:</label>
  <input type="text" id="password" name="user[:password]"></input>

  <input type="submit" value="Login up">



</form>
