<h3>Login:</h3>

<form method="POST" action="/login">

  <input type="text" name="username" id = "username" placeholder="username" required /><br />
  <input type="password" name="password" id="password" placeholder="password" required /><br /><br />
  <input type="submit" value="submit" />
  <h5><a class="button" href="/users/create_user">No account? Please sign up here.</a></h5>

</form>
