<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <style>
	div form {text-align: center;}
	input{font-size:24px;text-align: center;}
	h2.form_title {text-align: center;}
  </style>
  <body>
	<h5>Fwitter, version 1.1</h5>
	<p><a href="/logout">logout</a></p>
	<%=yield%>
  </body>
</html>
