<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <h3>layout.erb</h3>

      <%= yield %>

    </div>

  </body>
</html>
